body {
    background: #f3f1f1;
    color: #363130;
    }

::selection {
    background-color: #c5a8ff;
    }

a {
    font-weight: bold;
    color:#0087FF;
    text-decoration: underline;
    text-decoration-color: #00CDF7;
    text-decoration-thickness: 2px;
    }

.site-header {
	background: linear-gradient(#444444, #111111);
	box-shadow: 0px 3px 2px rgba(10, 8, 0, .2);
	color: #E4E4E4;
    }

.wrapper {
    width: 70vw;
    }

p {
    max-width: 65ch;
    }

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    margin: auto;
    }