body {
  background: #f3f1f1;
  color: #4d3932;
}
::selection {
  background-color: #c5a8ff;
}
a {
  font-weight: 550;
  color: #4291d7;
  text-decoration: underline;
  text-decoration-color: #00cdf7;
  text-decoration-thickness: 2px;
}
.site-header {
  background: linear-gradient(#444, #111);
  box-shadow: 0px 3px 2px rgba(10, 8, 0, 0.2);
  color: #e4e4e4;
}

.site-nav {
  .page-link {
    color: #ffffff;
  }
}

.page-content .wrapper {
  background: #f8f8f8;
  max-width: 70%;
  box-shadow: 6px 6px 25px rgba(200, 195, 180, 0.2);
  margin: 4rem auto;
  padding: 6rem 6rem 6rem;
  // padding: 7rem 8rem 7rem;
  border-radius: 15px;
  box-sizing: border-box;
}

h1.post-title {
  font-weight: 550;
  font-size: 2rem;
}
hr {
  border: 0;
  height: 0px;
  width: 100%;
  margin: 3rem auto 3.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #fff;
  transition: all var(--speed);
}
p {
  max-width: 75ch;
  font-size: 1rem;
  line-height: 1.5rem;
}
table {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 3rem auto 4rem;
  padding: 1rem 2rem;
  background: #fafafa;
  border: 3px solid #ebe3e0;
  box-shadow: 6px 6px 25px rgba(200, 195, 180, 0.2);
  color: #61473f;
}
table th {
  font-size: 1.2rem;
  font-weight: 600;
  color: #a47f74;
  border-bottom: 4px solid #7b5b51;
}
table tr {
  border-bottom: 1px solid #a47f74;
}
table tr:last-child:not(:first-child) {
  border-bottom: 2px solid transparent;
}
table td {
  font-size: 0.9rem;
  border-bottom: 1px solid #c3aaa2;
}
td:nth-child(6n + 1) {
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}

@media screen and (max-width: 393px) { /*iPhone 14 Pro */
    .page-content .wrapper {padding:1.5rem 1rem 1.5rem; max-width: 95%; margin:0 auto}
    h1.post-title {font-size:1.2rem; letter-spacing:normal}
    hr {margin:1.5rem auto 1rem;}
    p {font-size:0.7rem; line-height:1rem; max-width:100%}
    table {padding:0.25rem 0.5rem; margin:1.5rem auto 1rem;}
    table th {font-size:0.8rem; padding: 0.25rem 0.25rem;}
    table td {font-size:0.7rem; padding: 0.25rem 0.25rem;}
    td:nth-child(6n+1) {font-size:0.75rem}
    }
  
  @media screen and (min-width: 1728px) { /*Ben's Macbook*/
    .page-content .wrapper {padding:3rem 4rem 3rem; max-width: 85%;}
    h1.post-title {font-size:1.6rem}
    hr {margin:3rem auto 3.5rem;}
    p {font-size:1rem; line-height:1.5rem}
    table {padding:0.5rem 1rem; margin:3rem auto 4rem;}
    table th {font-size:1.2rem; padding: 0.5rem 0.25rem;}
    table td {font-size:0.9rem; padding: 0.5rem 0.25rem;}
    td:nth-child(6n+1) {font-size:1rem}
    }
  
  @media screen and (device-width: 3840px) { /*Ben's External Display*/
    .page-content .wrapper {padding:7rem 8rem 7rem}
    h1.post-title {font-size:2rem}
    hr {margin:3rem auto 3.5rem;}
    p {font-size:1.4rem; line-height:2.1rem}
    table {padding:1rem 2rem; margin:3rem auto 4rem;}
    table th {font-size:1.5rem}
    table td {font-size:1.125rem}
    td:nth-child(6n+1) {font-size:1.25rem}
    }

  @media screen and (max-width: 600px) {
    .site-nav a.page-link {
      color:#424242
    }
  }

.site-nav {
  @include media-query($on-palm) {
    a.page-link {
      color: $grey-color-dark;
    }
  }
}

// .page-content .wrapper {
//   @include media-query($on-laptop) {
//       padding: 6rem 6rem 6rem;
//   }

//   @include media-query($on-palm) {
//     padding: 2rem;
// }
// }